body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:456px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:116px;
  width:402px;
  height:259px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:42px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:116px;
  width:402px;
  height:42px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:125px;
  width:79px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:184px;
  width:184px;
  height:32px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:184px;
  width:50px;
  height:32px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u95_input:disabled {
  color:grayText;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:226px;
  width:234px;
  height:32px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:132px;
  width:11px;
  height:11px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:29px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:309px;
  width:234px;
  height:29px;
  font-size:18px;
  color:#FFFFFF;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:230px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:268px;
  width:92px;
  height:16px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u101_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:268px;
  width:72px;
  height:16px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
