body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:40px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:110px;
  width:53px;
  height:40px;
  font-size:18px;
  color:#009900;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:103px;
  width:626px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:622px;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:150px;
  width:574px;
  height:46px;
  font-size:16px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:570px;
  word-wrap:break-word;
}
