body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:129px;
  width:300px;
  height:392px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:180px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:158px;
  width:247px;
  height:179px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:43px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:372px;
  width:247px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:434px;
  width:247px;
  height:43px;
  font-size:18px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
